#main {
  margin: 60px 0 0 0;
}

.logo {
  border: none !important;
  max-width: 100% !important;
  margin: -4px 0 0 0;
}

.logo-name {
  line-height: 32px !important;
}

table.logo>tbody>tr {
  background: none !important;
  border: none !important;
}

table.logo>tbody>tr>td {
  border: none !important;
}

.navbar-brand table>tbody>tr>td {
  padding: 0;
  line-height: 20px;
}


/**
 * Website nav
 **/

.website-nav {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #ececec;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  z-index: 9999;
}

.navbar-margin {
  margin: 0 98px 0 0;
}

.try-btn-container {
  margin: 2px 15px 0 0;
  position: absolute;
  right: 0;
}

.try-btn {
  padding: 4px 12px !important;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #ff5252;
  color: #fff !important;
  transition: background-color .3s;
  text-decoration: none !important;
  display: inline-block;
}

.try-btn:hover {
  background-color: #FF4040;
  color: #fff !important;
}

.website-brand {
  float: left;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none !important;
  color: #555 !important;
}

.web-nav>li>a {
  line-height: 10px !important;
  color: #555;
  background-color: #ffffff;
  cursor: pointer;
  padding: 4px 20px;
}

.web-nav>li>a:hover {
  background: #ececec !important;
  color: #555;
}

.website-nav a[href^="http://"]:after,
.website-nav a[href^="https://"]:after {
  content: " ";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

@media (min-width: 768px) {
  .web-nav>li>a {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
}

.custom-navbar-toggle {
  border: 1px solid #03a9f4;
  margin-top: 3px;
  padding: 7px 8px;
}

.theme-background {
  background: #03a9f4;
}

.custom-navbar-collapse {
  background: #fff;
}

@media all and (max-width: 768px) {
  .try-btn-container {
    margin: 2px 70px 0 0 !important;
  }
  .custom-navbar-collapse {
    background: #fff;
    margin-top: -5px;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
  }
  .custom-navbar-collapse a {
    padding: 10px 5px !important;
  }
}


/**
 * Website nav ends
 **/

.navbar-fixed-top {
  top: 35px;
}

.navbar {
  min-height: 40px;
  height: 40px;
}

.navbar-brand {
  float: left;
  height: 40px;
  padding: 8px 15px;
  font-size: 18px;
  line-height: 20px;
}

#search-input {
  padding: .2em .5em;
  margin-left: 20px;
  width: 20em;
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 6px;
}

.navbar-inverse .navbar-nav>li>a {
  background-color: transparent;
  margin-top: 6px;
}